.create a {
    text-decoration: none;
    color: #4B5563;
    position: fixed;
    right:0;
    top:0;
    margin-top:20px;
    margin-right: 20px;
    border: 2px solid #4B5563;
    padding: 10px;
    border-radius: 8px;
}

.action a {
    text-decoration: none;
    color: #4B5563;
    padding: 5px;
    margin-right:10px;
}
.action a:hover {
    color: #04AA6D;
}
.create a:hover {
    font-size: 32px;
    color:#111;
}  
#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    }

    #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
    }

    #customers tr:nth-child(even){background-color: #f2f2f2;}

    #customers tr:hover {background-color: #ddd;}

    #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
    }

    .content {
        margin-top: 100px;
    }
    h3 {
        color: #4B5563;
    }

    .no-data {
        color: red;
        font-style: oblique;
        font-size: 32px;
        font-weight: 600;
      }

      .create_success {
        color: green;
        font-style: oblique;
        font-size: 24px;
        font-weight: 200;
      }

      .delete_success {
        color: red;
        font-style: oblique;
        font-size: 24px;
        font-weight: 200;
      }

      a {
        text-decoration: none;
      }

      .actions, td div {
        display: flex;
        flex-wrap: wrap;
        gap: 10px 20px;
        
      }
      .actions a, td div a,td a {
        color:black;
      }

      td div a:hover,td a:hover {
        color: green;
      }
      .actions a:hover {
        font-size: 24px;
      }

      .actions a {
        border: 2px solid black;
        padding:4px;
        border-radius: 4px;
      }